body {
  min-width: inherit;
  width: auto;
}

main {
  &.container-fluid {
    max-width: none;
    margin: 0;
    --edifice-container-width: 100%;
  }
}

.home-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  background: #fafafa;

  .square-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.file-card {
  width: 100%;
  height: 183px;
  border: 1px solid #ffcba0;
}
