body {
  min-width: inherit;
  width: auto;
}
<<<<<<< HEAD
=======

main {
  &.container-fluid {
    max-width: none;
    margin: 0;
    --edifice-container-width: 100%;
  }
}

.home-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  background: #FAFAFA;


  .square-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.file-card {
  width: 200px;
  height: 183px;
  border: 1px solid #FFCBA0
}
>>>>>>> 174b929 (feat(css): #MED-244 modifications of the css)
