@import "../../styles/_colors.scss";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: $med-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
}

.header {
  position: relative;
  z-index: 100;
}
