.list-card-header {
    color: white;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-card {
    display: flex;
    flex-direction: column;
}

.right-button {
    color: #000000;
}

.grid{
    --edifice-columns: 2;
}

@media (min-width: 768px){
    .grid{
        --edifice-columns: 4;
    }
}

@media (min-width: 1280px){
    .grid{
        --edifice-columns: 6;
    }
}

