@import "../../styles/_colors.scss";

.med-search-resource-card {
  overflow: hidden;
  transition: max-height 1s ease-in-out;

  &.not-expanded {
    max-height: 177px;
  }
  &.expanded {
    max-height: 1000px;
  }

  .med-search-resource-top-container {
    height: 177px;
    display: flex;
    flex-direction: row;
    .med-search-resource-left-container {
      padding: 15px;
      height: 177px;
      width: 177px;
      display: flex;
      justify-content: center;
      .med-search-resource-image {
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .med-search-resource-right-container {
      padding: 15px;
      width: calc(100% - 177px);
      height: 177px;
      display: flex;
      flex-direction: column;
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: self-start;
        padding: 5px 0px !important;
        .med-search-resource-type {
          display: flex;
          align-items: center;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          color: $med-gray;
          .med-search-resource-icon {
            margin-right: 5px;
            height: 14px;
            width: auto;
          }
        }
        .card-title {
          font-family: Roboto;
          font-size: 19px;
          font-weight: 500;
          color: $med-blue;
          margin-bottom: 0px;
          width: 100%;
        }
        .card-text {
          font-family: Roboto;
          font-size: 14px;
          color: $med-gray;
          width: 100%;
        }
      }

      .card-footer {
        padding-left: 0px;
        background-color: transparent;
        .med-footer-details {
          color: $med-blue;
          display: flex;
          align-items: center;
          cursor: pointer;
          .med-footer-icon {
            font-size: 20px;
            margin-right: 5px;
          }
        }

        .med-footer-svg {
          svg {
            height: 23px;
            margin-left: 10px;
            width: 23px;
            cursor: pointer;
          }

          .med-link {
            cursor: pointer;
            color: $med-light-blue;
          }

          .med-pin {
            cursor: pointer;
            color: $med-red;
          }

          .med-star {
            color: $med-orange;
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }

  .med-search-resource-bottom-container {
    height: auto;
    padding: 0px 15px 15px 15px;
    .med-search-resource-description {
      display: flex;
      flex-direction: column;
      .med-search-resource-description-title {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        color: black;
        margin-bottom: 5px;
      }
      .med-search-resource-description-content {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    .med-search-resource-details {
      display: flex;
      flex-direction: column;
      .med-search-resource-details-title {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        font-weight: 600;
        color: black;
        margin-bottom: 5px;
      }
      .med-search-resource-details-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid $med-light-gray;
        border-radius: 15px;
        margin-bottom: 5px;
        padding: 5px;
        .med-search-resource-details-icon {
          margin-right: 5px;
          font-size: 20px;
          width: auto;
        }
        .med-search-resource-details-name {
          width: 100px;
          font-size: 14px;
        }
        .med-search-resource-details-value {
          width: calc(100% - 100px);
          font-size: 14px;
        }
      }
    }
  }
}
